const program = new commander.Command();

(async() =>
{
    program
        .version(JSON.parse((await fs.readFile(path.join(process.cwd(), "package.json"))).toString()).version, "-v, --version", "output the current version")
        [[_commander_additional_optargs_]]

        .action((options: commander.OptionValues) =>
        {
__indent_3__
{{index_content}}

__indent_-3__
        })
        .parse(process.argv);
})();